# DB
POSTGRES_DB=neondb
POSTGRES_DB_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_1cm3jqGfTKvV
POSTGRES_HOST=ep-restless-heart-alhsq07a-pooler.c-3.eu-central-1.aws.neon.tech
# Django
SECRET_KEY=DLtO0Z2e8lp7DPlN7dErtyWp8A1Wg15R
DJANGO_SETTINGS_MODULE=restourant_service.settings.prod
RENDER_EXTERNAL_HOSTNAME=https://restaurant-service-9jr3.onrender.com
